*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    /*FUNDO SOBRE MIM E DESCRIÇÃO W.E nao mexer */--bg-color:rgba(0, 0, 0, 0.92) ;/*rgba(51, 65, 78, 1) rgba(110, 131, 158, 1)  rgba(56, 69, 83, 01)*/
    /*FUNDO WORK EXPERIENCES nao mexer */  --second-bg-color: rgb(58, 57, 57);
    --text-color: #ffffff;
    /*professional, home, sobre mim e etc nao mexer */  --second-color: rgb(255, 255, 255);
    --main-color: rgb(143, 143, 144);
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
    --p-small-font: 0.9rem;

}

body::-webkit-scrollbar-thumb {
	border-radius: 45px;
	background-color: var(--main-color);
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}


/* --------------------- HEADER INICIO -------------------*/
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease; 
    background-color:  rgb(58, 57, 57);
}

.logo{
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

span{
    color: var(--main-color);
}

.navlist{
    display: flex;
}

.navlist a{
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}

.navlist a:hover{
    color: var(--main-color);
}

.navlist a.active{
    color: var(--main-color);
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

.menu-opener{
    display: none;
  }
  
/* --------------------- HEADER FIM -------------------*/



/* --------------------- SECTION  GERAL  -------------------*/
section{
    padding: 160px 15% 120px;
}

.navlist li a.active {
    color: var(--main-color);
}
/* --------------------- SECTION  GERAL  -------------------*/


/* --------------------- HOME  INICIO  -------------------*/
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(img/6.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.slide{
    margin-bottom: 20px;
}



.two{
    display: inline-block;
    color: var(--second-color);
    font-size: 20px;
    font-weight: 500;
}

.home-text h1{
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.1;
    margin: 0 0 8px;
}

.home-text h3{
    color: var(--text-color);
    margin: 0 0 35px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}



.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 8px;
}


.btn{
    display: inline-block;
    padding: 12px 28px;
    background-color: var(--main-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .45s ease;
}

.btn:hover{
    transform: scale(0.9);
}


/* --------------------- HOME  INCIO  -------------------*/

/* --------------------- SOBRE MIM  INICIO  -------------------*/


.sobre{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.sobre-img img{
    max-width: 430px;
    height: 430px;
    width: 100%;
    border-radius: 10px;
    box-shadow: var(--main-color) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.sobre-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
}

.sobre-text h4 {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin: 15px 0 30px;
}

.sobre-text p {
    font-size: var(--p-font);
    color: var(--second-color);
    line-height: 1.8;
    margin-bottom: 0.5rem;
}

.sobre-text  .vaga{
    color:   rgb(143, 143, 144);
}

.socials{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 5em;
}

.btn-socials{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
    margin-right: 15px;
}

.btn-socials:nth-child(6){
    margin-right: 0px;
}

.btn-socials span i{
    height: 55px;
    width: 55px;
    background: var(--main-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    border-radius: 50%;
    transition: all .45s ease;
}

.btn-socials span i:hover{
    transform: scale(0.9);
}

/* --------------------- SOBRE MIM  FIM  -------------------*/


/* --------------------- EXPERIENCIAS INICIO -------------------*/
.experiencias{
    background-color: var(--second-bg-color);
}


.main-text{
    text-align: center;
}

.main-text p{
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 15px;
}

.main-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}

.text-box p{
    letter-spacing: 1px;
    line-height: 1.8;
    font-size: var(--p-font);
    margin: 1rem 0;
    background-color: wh;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
}

.container img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    top: 32px;
    margin: 2rem;
}

.text-box{
    padding: 20px 20px;
    background: var(--bg-color);
    border-radius: 10px;
    color: var(--text-color);
    width: 60vw;
}

.text-box h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.text-box small{
    font-size: 14px;
    font-weight: 800;
}

.text-box p{
    letter-spacing: 1px;
    line-height: 1.8;
    font-size: var(--p-font);
    margin: 1rem 0;
}
/* --------------------- EXPERIENCIAS FIM -------------------*/


/* --------------------- PORTFOLIO INCIO -------------------*/

.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.row{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;

}


.layerproject {
  font-size: 20px;
    
} 

.row img{
    max-width: 350px;
    min-width: 100%;
    min-height: 375px;
    max-height: 375px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: var(--main-color);
    position: absolute;
    border-radius: 10px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 40px;
    transition: height 0.8s;
}

.layer h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: black;
}

.layer p{
    color: var(--second-color);
    font-size: var(--p-small-font);
    line-height: 1.8;
}

.layer i {
    color: var(--main-color);
    margin-top: 20px;
    font-size: 20px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-direction: row;
    margin-left: 10px; /* Adicione o espaçamento desejado entre os elementos */
}

.iconsaling{
    display: flex;
}

.row:hover img{
    transform: scale(1.1);
}

.row:hover .layer{
    height: 100%;
}

.portfolio {
    position: relative;
    overflow: hidden;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.7s, transform 1.2s;
}

.shows {
    opacity: 1;
    transform: translateX(0);
}

/* --------------------- PORTFOLIO FIM -------------------*/


.services{
    background: var(--second-bg-color);
}


.timeline{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
}

.container img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    top: 32px;
    margin: 2rem;
}

.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}
.text-box{
    padding: 20px 20px;
    background: var(--bg-color);
    border-radius: 10px;
    color: var(--text-color);
    width: 60vw;
}

.text-box h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.text-box small{
    font-size: 14px;
    font-weight: 800;
}



.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    max-height: 300px;
    min-height: 200px;
    text-align: center;
    background: var(--bg-color);
    padding: 35px 45px;
    border-radius: 8px;
}

.services .box:hover{
    background-color: rgb(73, 73, 72);
    border-color: aliceblue;
}

.s-icons i{
    font-size: 40px;
}

.box h3{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
}


.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
}

.services {
    position: relative;
    overflow: hidden;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.7s, transform 1.2s;
}

.show {
    opacity: 1;
    transform: translateX(0);
}

/*---------FOOTER---------*/
footer {
    
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.divfooter{
    font-size: 12px;
  
}

.divfooter a {
    color:  rgb(143, 143, 144);
}

@media (max-width: 1480px){
    header{
        padding: 12px 2.5%;
        transition: .1s;
    }

    header.sticky{
        padding: 10px 2.5%;
        transition: .1s;
    }

    section{
        padding: 110px 3% 60px;
    }
    .end{
        padding: 15px 3%;
    }
}

@media (min-width:450px) and (max-width:800px)  {


    .menu-opener{
        display: block;
        width: 40px ;
        margin-right: 30px ;
    }

    .navlist{
        display: none;
        position: absolute;
        background-color: rgba(0,0,0);
        width: 40vw;
        height: calc(100 - 100px);
        top: 77px;
        right: 0;
    }
    header ul{
        flex-direction: column;
    }

    header li a {
        font-weight: bold;
        height: 80px;
        font-size: 27px;
        margin-right:  50px;
        border: 0;
    }



}
    @media  (max-width:450px)  {

    
        .menu-opener{
            display: block;
            width:45px ;
            margin-right: 30px ;
        }
    
        .navlist{
            display: none;
            position: absolute;
            z-index: 99;
            background-color: rgba(0,0,0);
            width: 79vw;
            height: 100px;
            height: calc(100vh - 100px);
            top: 77px;
            right: 0;
        }
        header ul{
            flex-direction: column;
        }
    
        header li a {
            font-weight: bold;
            height: 60px;
            font-size: 20px;
            margin-right:  30px;
            border: 0;
        }
    }